html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  line-height: 1.45;
    background-color:#2E2E2E;
}

a {
  color: white;
}
#scroll-container {
  position: fixed;
  width: 25vw;
  height: 20vh;
top: 8%;
  left: 15%;
  transform: translateX(-50%) translateY(-50%);
    overflow: auto;
    z-index:1;
    color:#FF5230;
    line-height:5rem;

}

#next{
    position: fixed;
    width: 25vw;
    height: 20vh;
    top: 8%;
    right: 90%;
    transform: translateX(-50%) translateY(-50%);
    overflow: auto;
    z-index:1;
    color:#6DDBE8;
    text-align:center;
    line-height:5rem;
}

#pagenumber{
    position: fixed;
  width: 25vw;
  height: 20vh;
top: 92%;
  left: 15%;
  transform: translateX(-50%) translateY(-50%);
    overflow: auto;
    z-index:1;
    color:#FF5230;
    line-height:5rem;
}

#movecircle{
    position:relative;
    width:20vw;
    height:20vw;
    border-radius:50%;
    background-color:beige;
    left: 45vw;
    top:-20vw;
}

#thisyear{
    content: "THIS YEAR!";
    font-size: 200px;
    color:beige;
    top:30%;
    left:30%;
    position:fixed;
    transform: translateX(-80%) translateY(-50%);
    width:50vw;
    height:10vw;
    opacity:0;
}

#notthisyear{
    content: "NOT THIS YEAR!";
    font-size: 30px;
    color:beige;
    top:50%;
    left:50%;
        transform: translateX(-50%) translateY(-50%);
    position:fixed;
        opacity:inherit;
    opacity:0%;
    width:80vw;
}

#almostthere{
    font-size: 30px;
    color:beige;
    top:57%;
    left:50%;
    position:fixed;
    transform: translateX(-50%) translateY(-50%);
    width:50vw;
    height:10vw;
    opacity:0;
}

#shearcircle{
    position:fixed;
    width:10vw;
    height:100vw;
    border-radius:50%;
    background-color:beige;
    left: 45vw;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

#linetobox{
    position: fixed;
    width:20vw;
    height:2vh;
    background-color:beige;
    top:50%;
    left:-20%;
    transform: translateX(-50%) translateY(-50%);
    
}

#boxtoline{
    position: fixed;
    width:20vw;
    height:2vh;
    background-color:beige;
    top:50%;
    left:150%;
    transform: translateX(-50%) translateY(-50%);
}

#linesfill{
    position:fixed;
    width:100vw;
    height:2vh;
    background-color:beige;
}

#colors{
    width:100vw;
    height:100vh;
    background-color:beige;
    position:fixed;
}

#circle1cross{
    width:150vh;
    height:150vh;
    position:fixed;
    background-color:#6DDBE8;
    border-radius:50%;
    top:50%;
    left:0%;
    transform: translateX(-70%) translateY(-50%);
    opacity:1;
}

#circle2cross{
    width:150vh;
    height:150vh;
    position:fixed;
    background-color:#FF5230;
    border-radius:50%;
    top:50%;
    left:0%;
    transform: translateX(90%) translateY(-50%);
    opacity:1;
}

#circlerotate{
    position:fixed;
    width:5vw;
    height:5vw;
    border-radius:50%;
    background-color:beige;
    top:45%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);

}

#partytime{
    content: "THIS YEAR!";
    font-size: 300px;
    color:beige;
    top:15%;
    left:30%;
    position:fixed;
    transform: translateX(-50%) translateY(-50%);
    width:50vw;
    height:10vw;
    opacity:0;
}

#bouncingball{
    position:fixed;
    width:10vw;
    height:10vw;
    border-radius:50%;
    background-color:beige;
    top:20%;
    left:-15%;
    transform: translateX(-50%) translateY(-50%);
}

#linerotate{
    position:fixed;
    width:5vw;
    height:10vw;
    background-color:beige;
    top:35%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

#totheleft{
    position:fixed;
    font-size: 30px;
    color:beige;
    top:18%;
    left:200%;
    transform: translateX(-50%) translateY(-50%);
    width:200%;
    height:10%;
}

#totheright{
    position:fixed;
    font-size: 30px;
    color:beige;
    top:25%;
    left:-200%;
    transform: translateX(-50%) translateY(-50%);
    width:200%;
    height:10%;
}

#words{
    position:fixed;
    font-size: 40px;
    color:beige;
    width:50%;
    height:10%;
}

#questionmarks{
    position:fixed;
    font-size: 400px;
    color:beige;
    top:20%;
    left:15%;
    width:200%;
    height:10%;
}

#squaretocircle{
    position:fixed;
    width:5vw;
    height:5vw;
    border-radius:0%;
    background-color:beige;
    top:20%;
    left:10%;
    transform: translateX(-50%) translateY(-50%);
}

#screenhorizontal{
    width:100vw;
    height:100vh;
    background-color:beige;
    top:0%;
    left:0%;
    position:fixed;
}

#screenvertical{
    width:100vw;
    height:100vh;
    background-color:#6DDBE8;
    top:0%;
    left:0%;
    position:fixed;
}

#some{
    position:fixed;
    font-size: 200px;
    color:beige;
    top:20%;
    left:0%;
    width:100%;
    height:10%;
    text-align:center;
}

#space{
    position:fixed;
    font-size: 200px;
    color:beige;
    top:45%;
    left:0%;
    width:100%;
    height:10%;
    text-align:center;
}

#treasure{
    position:fixed;
    width:20vw;
    height:20vw;
    border-radius:50%;
    background-color:greenyellow;
    top:55%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

#youfound{
    position:fixed;
    font-size: 30px;
    color:beige;
    top:25%;
    left:0%;
    width:100%;
    height:10%;
    text-align:center;
}

#sepiabg{
    width:100vw;
    height:100vw;
    background-color:#2E2E2E;
    position:fixed;
}

#screen{
    width:100vw;
    height:100vh;
    position:fixed;
    
}

#oooh{
    position:fixed;
    font-size: 30px;
    color:#2E2E2E;
    top:30%;
    left:0%;
    width:40%;
    height:10%;
    text-align:center;
}

#aaah{
    position:fixed;
    font-size: 30px;
    color:#2E2E2E;
    top:60%;
    left:0%;
    width:40%;
    height:10%;
    text-align:center;
}

#linesbg1{
    position: fixed;
    width:2vh;
    height:2vh;
    background-color:#6DDBE8;
    top:50%;
    left:15%;
    transform: translateX(-50%) translateY(-50%);
}

#linesbg2{
    position: fixed;
    width:2vh;
    height:2vh;
    background-color:#FF5230;
    top:50%;
    left:85%;
    transform: translateX(-50%) translateY(-50%);
}

#stretchsquare{
    width:5vw;
    height:5vw;
    top:30%;
    left:30%;
    position:fixed;
    background-color:beige;
}

#stretchsquare1{
    width:5vw;
    height:5vw;
    top:50%;
    left:41%;
    position:fixed;
    background-color:#6DDBE8;
}


#stretchsquare2{
    width:5vw;
    height:5vw;
    top:70%;
    left:52%;
    position:fixed;
    background-color:#FF5230;
}

#rickroll{
    width:100vw;
    height:100vh;
    top:80%;
    position:relative;
}

#rickrolltext{
    position:fixed;
    font-size: 100px;
    color:beige;
    top:20%;
    left:10%;
    width:80%;
    height:10%;
    text-align: center;
}


#bar{
    width:30vw;
    height:1vh;
    top:70%;
    left:-40%;
    background-color:beige;
    position:fixed;
}

#ball{
    width:10vw;
    height:10vw;
    top:-30%;
    left:-30%;
    border-radius: 50%;
    background-color:beige;
    position:fixed;
}

#open{
    width:0vw;
    height:0vw;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: beige;
    border-radius: 50%;
    position:fixed;
}

#pill{
    width:10vw;
    height:10vw;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius:40%;
    position:fixed;
    background-color:beige;
}

#bouncingball2{
    position:fixed;
    width:10vw;
    height:10vw;
    border-radius:50%;
    background-color:rgb(255, 82, 48);
    top:20%;
    left:-15%;
    transform: translateX(-50%) translateY(-50%);
}

#bouncingball3{
    position:fixed;
    width:10vw;
    height:10vw;
    border-radius:50%;
    background-color:rgb(109, 219, 232);
    top:20%;
    left:-15%;
    transform: translateX(-50%) translateY(-50%);
}

#diagonal{
    position:fixed;
    background-color:rgb(245, 245, 220);
}

#gif{
    width:100vw;
    height:100vh;
    top:0%;
    left:-40%;
}

#toomuch{
    font-size:20px;
    color:beige;
    top:20%;
    left:20%;
    transform: translateX(-50%) translateY(-50%);
    position:fixed;
    width:100vw;
}

#longsentence{
    font-size:20px;
    color:beige;
    top:20%;
    left:20%;
    position:fixed;
    width:10vw;
}

#rotatecolorfade{
    width:10vw;
    height:70vh;
    border-radius: 50%;
    top:20%;
    left:-30%;
    position:fixed;
}

.tenor-gif-embed{
    width:100vw;
    height:100vh;
    position:fixed;
    top:80%;
    left:0%;
}

#okur{
    font-size:200px;
    transform: translateX(-50%) translateY(-50%);
    color:beige;
    position:fixed;
    left:50%;
    top:50%;
    
}